<fieldset class="fieldsubscribe">
	<legend class="title"> INSCRIPTION : </legend>
		<form method="post">
			<label> Firstname :</label>
			<input type="firstname" placeholder="firstname">
			<br />
			<label> Lastname :</label>
			<input type="Lastname" placeholder="lastname">
			<br />
			<label> Email address :</label>
			<input type="email" placeholder="Email">
			<br />
			<label> Gender :</label>
			<input type="Lastname" placeholder="lastname">
			<br />
			<label> Password :</label>
			<input type="password" placeholder="Password">
			<br />
			<button type="submit" class="btn"> Submit</button>
		</form>
</fieldset>
