<table class="table table-bordered table-hover" ng-controller="users">
	<thead>
		<th> Lastname</th>
		<th> Firstname</th>
		<th> email</th>
		<th> role</th>
		<th> Delete</th>
		<th> Update</th>
	</thead>
	<tbody>
		<tr ng-repeat="user in users">
			<td>{{ user.Lastname }}</td>
			<td>{{ user.Firstname }}</td>
	        <td>{{ user.email }}</td>
	        <td>{{ user.role["role1"] }}</td>
	        <td><a href="" repeat-click="deleteUser(user, $scope)">X</a></td>
	        <td><a href="" >U</a></td>
	    </tr>
	</tbody>
</table>
