doctype html
html
    head
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel="stylesheet", href='/fonts/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    body
        include login
        include header        
        block content
        include footer