extends layout

block content
	fieldset(class="fieldsubscribe")
		legend(class="title") INSCRIPTION :
		form(method="post")
			label Email address :
			input(type="email" placeholder="Email")
			label Password :
			input(type="password" placeholder="Password")
		button(type="submit" class="btn") Submit
