				/*////// Ossature de la page \\\\\\*/

html, body {
	margin: 1px 1px;
	padding:0;
	height:100%;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
	height: 100px;
	padding-bottom: 15px;
	margin:20px 20px 20px 20px;
	border-bottom:2px solid #eee
}

#wrapper {
	min-height:100%;
	position:relative;
}

#header {
	background:#ededed;
	padding:10px;
	margin-bottom: 10px;
}

#content {
	padding-bottom:150px;
	bottom: 150px;
}

.footer {
	background:#e7e7e7;
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
}

.footer p {
	text-align: center;
	margin: 0px;
	padding: 0px;
}
				/*///// Formulaire login \\\\\*/

.form{
	position: absolute;
	right:0px;
	top:0;
	padding:5px;
	margin: 10px 40px 50px 20px;
	background-color: #e7e7e7;
}

.form label {
	width: 175px;
	float: left;
}

.form button {
	display: block;
	font-size: 12px;
	height: 15px;
}

.form legend {
	margin-bottom: 5px;
 	font: 9;
}
.form a {
	margin-left: 5px;
}

				/*///// Formulaire d'inscription \\\\\*/

.fieldsubscribe {
	right: 10%;
	left: 10%;
	background-color: #e7e7e7;
}

.fieldsubscribe legend {
	margin:10px;
	padding: 0;
	background-color: #e7e7e7;
	text-align: center;
	padding: 5px;
	border-bottom:2px solid #eee
}

.content {
	height: auto;
	width: 100%;
}

				/*/////	Mise en page pour les articles \\\\\*/

.articles {
	width: 80%;
	margin-left: 10%;
}